.userProfile{
background: #FFFFFF;
border: 1px solid #DFE0EB;
box-sizing: border-box;
border-radius: 8px;
padding: 30px 50px;
}

.file.user{
    display: table;
    width: 30%;
    margin: auto;
    background: #9D0957;
    border-radius: 10px;
    color: white;
    padding: 12px 30px;
    font-weight: bold;
    transition: all ease-in 0.5s;
  }
  .file.user.disabled, .file.user:disabled {
    opacity: .65;
    pointer-events: none;
}
input[type="file"].adminphoto {
    display: none;
}

.user-lay{
    width: 50%;
    margin: auto;
}


/* Media query for smaller phones */

@media (max-width:767px) {
    .file.user{
        width: 100%;
    }
    .user-lay{
        width: 100%;
    }
    .userProfile{
        padding: 30px 30px;
    }

}