.dash-div{
    background: #fff;
    border-radius: 5px;
    padding: 20px;
}

.btn-view{
    border: 1px solid #0898D7;
    color: #0898D7;
    transition: all ease-in .15s;
}

.btn-view:hover{
    background: #0898D7;
    color: #fff;
}